body{
	/*width:1920px; */
	height:4440px;
	font-family: 'Lato',sans-serif;
	background-size:cover;
}
.menu{
	display:flex;
	/*width:1920px;*/ 
	height:100px;
	background-color: #575757;
	opacity: 1;
}

.banner{
	display:flex;
	/*width:1920px; */
	height:750px;
}

.img-banner{
	display:flex;
	width: 100%;
	height:750px;
	background-repeat:no-repeat;
}

.servicos{
	display:flex;
	width:1920px;
	height:1120px;
	background-color:gray;
}

.sobre-nos{
	display:flex;
	width:1920px;
	height:1420px;
	background-color:red;
}
.contato{
	display:flex;
	width:1920px;
	height:740px;
	background-color:green;
}

.footer{
	display:flex;
	width:1920px;
	height:370px;
	background-color:orange;
}
