body { 
  width: 100vw; 
  height: 100vh;
  font-family: 'Lato',sans-serif; 
}

/* navbar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 1;
  box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.9);
}

.navbar-logo {
  margin-left: 50px;
}

.navbar-logo img {
  width: auto;
  height: auto;
  max-width: 150px;
}

/*.navbar-logo img:hover {
  max-width: 160px;
}*/

.navbar.navbar-colorful.navbar-transparent {
  background-color : rgba(0,0,0,.6);
}

.navbar.navbar-colorful{
  background-color: #272727;
}

.navbar a {
  color: #FFFFFF;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

.navbar a:hover {
	color: #8CCCBD;
	font-weight: 600;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse.responsive {
  position: absolute;
  display: block;
  background-color: inherit;
  top: 100%;
  width: 100%;
  border-top: 1px solid #575757;
}

.navbar-collapse.responsive li {
  display: block;
  padding: 15px;
}

.social-media a {
  display: inline-block;
  padding: 20px 0 20px 20px;
}

.social-media {
  margin-right: 50px;
}

.hamburguer {
  display: none;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .hamburguer {
    display: block;
    float: right;
    margin: 5vw;
  }
  
  .hamburguer:hover {
		color: bold;
	}

  .navbar-logo {
	  margin-left: 5vw;
	}
  .navbar-collapse, .social-media {
    display: none;
  }
}

/* banner */
.banner {
  background: url('../images/banner.jpg') no-repeat center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 45px; 
}

#contact-button {
  font-size: 22px;
  color: white;
  background: #8CCCBD;
  border-radius: 3px;
  padding: 8px 12px;
}

#contact-button:hover {
  color: #8CCCBD;
  background: white;
}

@media screen and (max-width:768px) {
  .banner div {
    height: 70%;
  }
}

/* serviços */
.servicos {
  width: 100vw;
}

.servicos-planta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides, .mySlides-mobile {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 0 2vw 0 2vw;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 42px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
}

.servicos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
  color: #8CCCBD;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dots {
  padding-top: 45px;
  text-align: center;
}

.active, .dot:hover {
  background-color: #0C874B;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}

@-webkit-keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

.bloco {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 440px;
  border: 1px solid gray;
  text-align: center;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}

.fotoServicos{
  width: auto;
  height: auto;
  max-height: 170px;
}

.fontServicos{
  font-weight: 600;
  font-size: 18px;
  color: #575757;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.fontServicosMenor {
  color: #A8A8A8;
  font-size: 16px;
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonServicos{
  border: none;
  border-radius: 4px;
  background-color:#0EbE68;
  height: 8%;
  width: 45%;
  margin-bottom: 5px;
  align-self:center;
  display:flex;
  justify-content: center;
}

.contract {
  font-weight: 600;
  color:white;
  font-size: 18px;
  align-self:center;
}

@media screen and (max-width: 984px) {
  #servicos3 {
    display: none;
  }
  
  .bloco {
  	width: 270px;
  	height: 460px;
  }

  .prev, .next {
  	margin: 0 5vw 0 5vw;
  }
}

@media screen and (min-width: 984px) {
  #servicos1 {
    display: none;
  }
}

/* Sobre Nós */
.sobre-nos {
  height: auto;
  width:auto;
  display: flex;
  flex-direction: column;
  padding: 70px 40px 100px 40px;
  background-color: #F2F2F2;
  line-height: 30px;
}

.folha {
  height: 3em;
  width: 3em;
  padding-right: 10px;
}

.sobre-nosplanta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontCabecalho {
  color: #272727;
  font-size: 2.5em;
}

.mvvimages {
  height: 5em;
  width: 5em;
}

#eyesize {
  font-size: 5em;
}

.sobre-nosFonts {
  color: #8CCCBD;
  font-size: 2.1em;
  margin-top: 15px;
}

.mvvfonts {
  color:#272727;
  font-size: 1.3em;
  text-align: center;
  margin-top: 15px;
}

.mvv {
  display:flex;
  justify-content: space-around;
  height: 450px;
}

.missao, .visao, .valores{
  max-width: 350px;
  height: 300px;
  margin-top: 50px;
  text-align: center;
}

.equipeImg {
  height: 15em;
  width: 25em;
}

.sessaoFoto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}

.inovagroInfo {
  width: 50%;
}

.umafonte {
  text-align:left;
  color:#272727;
  font-size: 1.3em;
  margin-top: 35px;
}

@media screen and (max-width: 900px){ /*mobile resolution*/
	.mvv {
		flex-wrap: wrap;
		height: auto;
	}
  
  .missao, .visao, .valores {
		margin-top: 55px;
		height: auto;
  }
  
  .inovagroInfo {
    width: auto;
  }

  .equipeImg {
    height: auto;
    width: 100vw;
    padding-top: 40px;
  }
  
  .sessaoFoto{
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
  }
  
  .sobre-nosFonts, .umafonte{
		text-align:center;
  }
}

/* Contato */
.contato {
  background: url('../images/contatos.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  align-items:center;
  width:auto;
  height:400px;
  padding: 70px 40px 100px 40px;
}

.contatoplanta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.contatoForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-bottom:40px;
}

.rightForm {
  display:flex;
  flex-direction:column;
  width:450px;
  height:200px;
  margin-left:30px;
  margin-right: 40px;
}

.leftForm {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
  padding-left: 40px;
}

.msgField {
  border-radius:0.2vw;
  border:none;
  color:black;
  font-size:14px;
  font-family: 'Lato Semi-Bold',sans-serif;
  padding: 5px;
  height: 40px;
  max-width: auto;
}

.biggerMsgField {
  border-radius:0.2vw;
  border:none; 
  font-family: 'Lato Semi-Bold',sans-serif; 
  font-size:14px;
  padding: 5px;
  height:-webkit-fill-available;
  max-width: auto;
}

.sendButton {
  border-radius: 0.3vw;
  background-color:#0EbE68;
  width: auto;
  height: 45px;
  color:white;
  font-family: 'Lato Semi-Bold',sans-serif;
  font-size:20px;
  align-self:center;
  border:none;
  text-decoration: none;
  text-align:center;
}

#fontContato {
  color:white;
  font-size: 2.5em;
}

@media screen and (max-width:900px) {
	.contato {
		height: auto;
	}

	.contatoForm {
		flex-direction: column;
		align-items: center;
	}

	.leftForm, .rightForm {
		margin: 0px;
		padding: 0px;
		width: 300px;
	}

	.form {
		margin-top: 40px;
	}
}

/* Footer */
footer {
  width: auto;
  height: 350px;
  /*background-color: #F2F2F2;*/
  color: #575757;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.footer-logo img {
  width: auto;
  height: auto;
  max-width: 300px;
}

.col1, .col2, .col3 {
  display: flex;
  width: 100%;
}

.footer-contact li {
  display: block;
}

.footer-contact i {
  font-size: 1.2em;
}

.footer-contact a {
  color: #575757;
}

.footer-contact span, .map span {
  margin-left: 10px;
}

.map i {
  font-size: 1.2em;
  padding: 10px 0 0 5px;
}

.address-info {
  margin-bottom: 15px;
}

.copyright {
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 15px 40px 30px 40px;
}

.copyright p {
  margin-top: 10px;
}

@media screen and (max-width: 880px) {
  .footer-content {
    flex-direction: column;
  }
  .col1, .col2, .col3 {
    width: 100%;
  }
  .footer-logo {
    margin: 15px auto 0;
  }
  .contact ul li {
    padding-left: 0;
  }
  .map {
    width: 100%;
    padding-left: 20px;
  }
  
  .map .fa-map-marker {
    margin-left: -6px;
  }
  
  #idMap {
    width: 100%;
  }
  
  .address-info {
    margin-top: 15px;
  }
}