{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static "css/cssreset.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Inovagro Jr</title>
</head>
<body>
	<nav class="navbar navbar-colorful navbar-transparent" id="idNavbar">
		<a class="navbar-logo" href="/">
			<img src="{% static "images/logo1.png" %}">
		</a>
		<div class="navbar-collapse" id="navbar">
			<ul class="navbar-topicos" id="topicos">
				<li><a href="#idInicio">Início</a></li>
				<li><a href="#idServicos">Serviços</a></li>
				<li><a href="#idSobreNos">Sobre nós</a></li>
				<li><a href="#idContato">Contato</a></li>
			</ul>
			<div class="social-media">
				<a href="https://www.facebook.com/Inovagro-Jr-742574185913937/" target="_blank"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/inovagrojr/" target="_blank"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>

		<a href="javascript:void(0);" style="font-size:24px;" class="hamburguer" onclick="navbarResponsive()">&#9776;</a>
	</nav>
  	
  	<div class="banner" id="idInicio">
  		<h1>Você pensa, nós inovamos</h1>
  		<a href="#idContato" id="contact-button">Conheça-nos!</a>
  	</div>
  
  	<div class="servicos-container" id="idServicos">
  		<div class = "servicos-planta">
  			<img class = "folha" src="{% static "images/folha.png" %}">
  			<h1 class="fontCabecalho">Serviços</h1>
  		</div>
  		<div class="servicos slideshow-container" id="servicos3">
			<div class="mySlides fade">
				<div class="bloco">
					<p class="fontServicos">Paisagismo</p>
					<img src="{% static "images/services/paisagismo.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Alia técnica e arte para criar ambientes atrativos do ponto de vista estético, funcional e natural através de plantas ornamentais como árvores, arbustos, forrações e flores. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Hidroponia</p>
					<img src="{% static "images/services/hidroponia.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Realização, implantação e manutenção de sistemas sem utilização de solos, com uso de soluções nutritivas, adequando-os para diversos ambientes e fins. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Análise de solo</p>
					<img src="{% static "images/services/analisesolo.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificação dos componentes físicos e químicos do solo para avaliar o nível de deficiência de nutrientes e determinar as quantidades a serem aplicadas na adubação e correção do PH. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides fade">
				<div class="bloco">
					<p class="fontServicos">Implantação e manutenção de pomares, olerícolas, florestais e pastagens</p>
					<img src="{% static "images/services/manutencao.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Implantar lavouras auxiliando nos cuidados pré e pós-plantio, tais como: escolha de sementes ou muda, poda, manejo da irrigação e tratos culturais. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Identificação e controle de plantas invasoras, doenças e pragas</p>
					<img src="{% static "images/services/praga.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificar plantas invasoras, agentes patogênicos e insetos pragas que ocasionam a diminuição da produção e em razão disso orientar o controle eficaz dos mesmos visando a produção máxima da sua lavoura. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Planejamento, otimização de projetos agrícolas</p>
					<img src="{% static "images/services/projetos.png" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Planejamento: Guiar os produtores na implantação de uma lavoura, onde será relatado a viabilidade e estruturação desta, melhores épocas para o plantio e resultados esperados. Otimização: fundamenta-se no estudo e orientação de práticas mais assertivas para projetos agrícolas já em funcionamento. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides fade">
				<div class="bloco">
					<p class="fontServicos">Diagnóstico ambiental</p>
					<img src="{% static "images/services/diagnostico.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificação de parâmetros de determinada área, tais como características do meio antrópico, biótico e físico, fornecendo conhecimento suficiente para identificar e avaliar os impactos causados por projetos agrícolas ou obras civis. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Elaboração de estudos ambientais</p>
					<img src="{% static "images/services/estudos.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Estudos para atender exigências ambientais de nível federal, estadual e municipal para projetos agropecuários, engenharias civis e outros. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">CAR</p>
					<img src="{% static "images/services/car.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração do Cadastro Ambiental Rural conforme exigências da lei. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de Programa de Gerenciamento de Resíduos Sólidos</p>
					<img src="{% static "images/services/residuos.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Realizar um levantamento dos resíduos sólidos produzidos na implantação e elaboração de um projeto seja ele de fim agropecuário, construção civil e industriais. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Elaboração de Programa de Recuperação de Área Degradada</p>
					<img src="{% static "images/services/degradada.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração de um programa para recuperar áreas que foram degradadas por atividades agrícolas, industriais e de construção civil. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
				<div class="bloco">
					<p class="fontServicos">Licenciamento Ambiental de Empreendimentos</p>
					<img src="{% static "images/services/licenciamento.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Acessória para obtenção das licenças ambientais dos empreendimentos agrícolas, industriais e de construção civis. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de Projetos Florestais de Reposição e Compensação Ambientais</p>
					<img src="{% static "images/services/reposicao.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração de um inventário florestal para que seja permitindo a realização de atividades de supressão vegetal. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
	  	</div>

		<!-- SERVICOS MOBILE -->

	  	<div class="servicos slideshow-container" id="servicos1">
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Paisagismo</p>
					<img src="{% static "images/services/paisagismo.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Alia técnica e arte para criar ambientes atrativos do ponto de vista estético, funcional e natural através de plantas ornamentais como árvores, arbustos, forrações e flores. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Hidroponia</p>
					<img src="{% static "images/services/hidroponia.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Realização, implantação e manutenção de sistemas sem utilização de solos, com uso de soluções nutritivas, adequando-os para diversos ambientes e fins. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Análise de solo</p>
					<img src="{% static "images/services/analisesolo.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificação dos componentes físicos e químicos do solo para avaliar o nível de deficiência de nutrientes e determinar as quantidades a serem aplicadas na adubação e correção do PH. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Implantação e manutenção de pomares, olerícolas, florestais e pastagens</p>
					<img src="{% static "images/services/manutencao.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Implantar lavouras auxiliando nos cuidados pré e pós-plantio, tais como: escolha de sementes ou muda, poda, manejo da irrigação e tratos culturais. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Identificação e controle de plantas invasoras, doenças e pragas</p>
					<img src="{% static "images/services/praga.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificar plantas invasoras, agentes patogênicos e insetos pragas que ocasionam a diminuição da produção e em razão disso orientar o controle eficaz dos mesmos visando a produção máxima da sua lavoura. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Planejamento, otimização de projetos agrícolas</p>
					<img src="{% static "images/services/projetos.png" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Planejamento: Guiar os produtores na implantação de uma lavoura, onde será relatado a viabilidade e estruturação desta, melhores épocas para o plantio e resultados esperados. Otimização: fundamenta-se no estudo e orientação de práticas mais assertivas
						para projetos agrícolas já em funcionamento. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Diagnóstico ambiental</p>
					<img src="{% static "images/services/diagnostico.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Identificação de parâmetros de determinada área, tais como características do meio antrópico, biótico e físico, fornecendo conhecimento suficiente para identificar e avaliar os impactos causados por projetos agrícolas ou obras civis. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de estudos ambientais</p>
					<img src="{% static "images/services/estudos.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Estudos para atender exigências ambientais de nível federal, estadual e municipal para projetos agropecuários, engenharias civis e outros. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">CAR</p>
					<img src="{% static "images/services/car.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração do Cadastro Ambiental Rural conforme exigências da lei. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de Programa de Gerenciamento de Resíduos Sólidos</p>
					<img src="{% static "images/services/residuos.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Realizar um levantamento dos resíduos sólidos produzidos na implantação e elaboração de um projeto seja ele de fim agropecuário, construção civil e industriais. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de Programa de Recuperação de Área Degradada</p>
					<img src="{% static "images/services/degradada.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração de um programa para recuperar áreas que foram degradadas por atividades agrícolas, industriais e de construção civil. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Licenciamento Ambiental de Empreendimentos</p>
					<img src="{% static "images/services/licenciamento.jpeg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Acessória para obtenção das licenças ambientais dos empreendimentos agrícolas, industriais e de construção civis. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
			<div class="mySlides-mobile fade">
				<div class="bloco">
					<p class="fontServicos">Elaboração de Projetos Florestais de Reposição e Compensação Ambientais</p>
					<img src="{% static "images/services/reposicao.jpg" %}" class="fotoServicos">
					
					<p class="fontServicosMenor"> Elaboração de um inventário florestal para que seja permitindo a realização de atividades de supressão vegetal. </p>
					<button type="button" class="buttonServicos">
			         <p class="contract">Contratar</p>
			      </button>
				</div>
			</div>
	  	</div>
		
		<!-- The dots/circles -->
		<div class="dots">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span> 
			<span class="dot" onclick="currentSlide(3)"></span> 
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
		</div>	
	  	<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
  	</div>
  
  	<div class="sobre-nos" id="idSobreNos">
  		<div class="sobre-nosplanta">
  			<img class = "folha" src="{% static "images/folha.png" %}">
  			<h1 class="fontCabecalho">Sobre nós</h1>
  		</div>
  		<div class="mvv">
  			<div class = "missao">
  				<img class = "mvvimages" src="{% static "images/missao.png" %}">
  				<h2 class="sobre-nosFonts">Missão</h2>
  				<p class = "mvvfonts">Formar líderes para criar impacto em pessoas e empresas.</p>
  			</div>
  			<div class = "visao">
  				<i class= "fa fa-eye fa-5x" id="eyesize"></i>
  				<h2 class="sobre-nosFonts">Visão</h2>
  				<p class = "mvvfonts">Sanar as dores do cluster 1 duplicando o número médio dos últimos ​3 ​meses ​em faturamento ​e ​projetos.</p>
  			</div>

  			<div class = "valores">
  				<img class = "mvvimages" src="{% static "images/valores.png" %}">
  				<h2 class="sobre-nosFonts">Valores</h2>
  				<p class = "mvvfonts">
	  			Leve ​a ​Inovagro para ​sua ​vida;<br>
 				Desculpa ​ou ​resultado?<br>
 				Aprender para ​praticar ​e ​praticar para ​aprender;<br>
 				Não ​espere novos resultados com velhas​ ​atitudes;<br>
 ​				Fazer ​bem ​feito para fazer ​só ​uma ​vez;<br>
 ​				Firmes, sempre ​constantes.<br>
	  		</p>
  			</div>
  		</div>
	  	<div class = "sessaoFoto">
	  		<div class = "inovagroInfo">
	  			<h2 class = "sobre-nosFonts">A Inovagro Júnior</h2>
	  			<p class = "umafonte">A Inovagro Jr. é a empresa júnior formada por estudantes das Ciências Agrárias da Universidades Federal Rural de Pernambuco. <br> Sendo um elo entre a cidade e o campo, oferece serviços de paisagismo e consultorias voltadas para área ambiental e agropecuária.</p>
	  		</div>
			<img class = "equipeImg" src= {% static "images/equipe.jpg" %}>
	  	</div>	
	</div>
  	
  	<div class="contato" id="idContato">
  		<div class="contatoplanta">
	  		<img class = "folha" src= "{% static "images/folhabranca.png" %}">
			<p class = "fontCabecalho" id = "fontContato">Contato</p>
		</div>
  			<form class = "form" method="POST">
              <div class = "contatoForm">
	              {% csrf_token %}
	              <div class = "leftForm">
		              <input class = "msgField" type="text" name="nome" placeholder="Nome"><br>
		              <input class = "msgField" type="text" name="email" placeholder="Email"><br>
		              <input class = "msgField" type="text" name="telefone" placeholder="Telefone"><br>
		              <input class = "msgField" type="text" name="comoconheceu" placeholder="Como você conheceu a Inovagro Júnior?"><br>
	              </div>
	              <div class = "rightForm">
	              	 <input class = "msgField" type="text" name="assunto" placeholder="Assunto"><br>
	             	 <textarea class = "biggerMsgField" type="text" name="mensagem" placeholder="Deixe-nos uma mensagem"></textarea><br>
              	</div>
              </div>
              <button class = "sendButton" type="submit">Enviar</button><br>
            </form>
	</div>
  
  	<footer id="idFooter">
  		<div class="footer-content">
  			<div class="col1">
  				<div class="footer-logo">
					<img src="{% static "images/logo2.png" %}">
				</div>
  			</div>
  			
  			<div class="col2">
  				<div class="footer-contact">
		  			<ul>
		  				<li><i class="fa fa-fw fa-phone" aria-hidden="true"></i><span>+55 (81) 9999-9045</span></li>
		  				<li><a href="mailto:inovagrojr.ufrpe@gmail.com"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i><span>inovagrojr.ufrpe@gmail.com</span></a></li>
		  				<li><a href="https://www.facebook.com/Inovagro-Jr-742574185913937/" target="_blank"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
		  				<li><a href="https://www.instagram.com/inovagrojr/" target="_blank"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
		  			</ul>
				</div>
  			</div>
  			
  			<div class="col3">
  				<div class="map">
					<div class="address-info"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i><span>Incubatec UFRPE, Rua Manuel Medeiro, Dois Irmãos, Recife, Pernambuco. </span></div>
					<div id="idMap">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7901.649521375343!2d-34.95127111093921!3d-8.016999443458799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab198a3a7d2c21%3A0x17401d309821892e!2sUniversidade+Federal+Rural+de+Pernambuco!5e0!3m2!1spt-BR!2sbr!4v1512625794556" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
  			</div>
  		</div>
  		
  		<div class="copyright">
  			<p>Copyright © 2017 Inovagro Júnior</p>
  		</div>
	</footer>

	<script src="{% static "js/index.js" %}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9mxoPANZovp1gpIAi_On1g4ZU75JsiiI&callback=initMap"
  type="text/javascript"></script>
</body>
</html>