<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css\cssreset.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css\index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Inovagro Jr</title>
</head>
<body>
	<nav class="navbar navbar-colorful navbar-transparent" id="idNavbar">
		<a class="navbar-logo" href="/">
			<img src="http://via.placeholder.com/200x50">
		</a>
		<div class="navbar-collapse" id="navbar">
			<ul class="navbar-topicos" id="topicos">
				<li><a href="#inicio">Início</a></li>
				<li><a href="#servicos">Serviços</a></li>
				<li><a href="#sobre-nos">Sobre nós</a></li>
				<li><a href="#contato">Contato</a></li>
			</ul>
			<a href="https://www.facebook.com/Inovagro-Jr-742574185913937/" target="_blank" class="social-media"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/inovagrojr/" target="_blank" class="social-media"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</div>

		<a href="javascript:void(0);" style="font-size:24px;" class="hamburguer" onclick="navbarResponsive()">&#9776;</a>
	</nav>
  	
  	<div class="banner">
  		<h1>Você pensa, nós inovamos</h1>
  		<a href="#" id="contact-button">Conheça-nos!</a>
  	</div>
  
  	<div class="section-container" id ="servicos">
	</div>
  
  	<div class="sobre-nos">
  		<h1 style="color:#272727;">Sobre nós</h1>
  		<h2 class="sobre-nosFonts">Missão</h2>
  		<h2 class="sobre-nosFonts">Visão</h2>
  		<h2 class="sobre-nosFonts">Valores</h2>

	</div>
  
  	<div class="contato">
	</div>
  
  	<footer>
  		<div class="footer-content">
  			<div class="col1">
  				<div class="footer-logo">
					<img src="http://via.placeholder.com/250x150">
				</div>
  			</div>
  			
  			<div class="col2">
  				<div class="contact">
		  			<ul>
		  				<li><i class="fa fa-phone" aria-hidden="true"></i><span>(XX) XXXXX-XXXX</span></li>
		  				<li><i class="fa fa-envelope" aria-hidden="true"></i><span>contato.inovagroufrpe@gmail.com</span></li>
		  				<li><a href="https://www.facebook.com/Inovagro-Jr-742574185913937/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
		  				<li><a href="https://www.instagram.com/inovagrojr/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
		  			</ul>
				</div>
  			</div>
  			
  			<div class="col3">
  				<div class="map">
					<span><i class="fa fa-map-marker" aria-hidden="true"></i>Logradouro, número, complemento, cidade, estado, CEP</span>
				</div>
  			</div>
  		</div>
  		
  		<div class="copyright">
  			<p>Copyright © 2017 Inovagro Júnior</p>
  		</div>
	</footer>

	<script src="js/index.js"></script>
</body>
</html>