<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css\cssreset.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css\index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Inovagro Jr</title>
</head>
<body>
	<nav class="navbar" id="inicio">
		<a class="navbar-logo" href="/">
			<img class="logo" src="http://via.placeholder.com/200x50">
		</a>
		<div class="navbar-collapse">
			<ul class="navbar-topicos" id="topicos">
				<li><a href="#inicio">Início</a></li>
				<li><a href="#servicos">Serviços</a></li>
				<li><a href="#sobre-nos">Sobre nós</a></li>
				<li><a href="#contato">Contato</a></li>
			</ul>

			<div class="social-media">
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>
		</div>

		<a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="navbarResponsive()">&#9776;</a>
	</nav>
  	
  	<div class="banner">
  		<h1>Você inova, nós inovamos</h1>
  		<a href="#" id="contact-button">Conheça-nos!</a>
  	</div>
  
  	<div class="section-container" id ="servicos">
	</div>
  
  	<div class="sobre-nos">
  		<h1 style="color:#272727;">Sobre nós</h1>
  		<h2 class="sobre-nosFonts">Missão</h2>
  		<h2 class="sobre-nosFonts">Visão</h2>
  		<h2 class="sobre-nosFonts">Valores</h2>

	</div>
  
  	<div class="section-container" id ="contato">
	</div>
  
  	<footer class="section-container" id ="footer">
	</footer>

	<script src="js/index.js"></script>
</body>
</html>