body{
  /*display: flex;*/
  width: auto; 
  height: 4440px;
  font-family: 'Lato',sans-serif;
  /*background-size:cover;*/
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1030;
  background-color: #575757; 
  transition: all 150ms ease 0s;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar a {
  display: block;
  float: right;
  color: #FFFFFF;
  text-align: right;
  font-size: 22px;
  font-weight: 500;
}

.navbar.responsive .navbar-collapse li {
	display: block;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-collapse ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.social-media a {
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
}

.navbar .icon {
  display: none;
}

a:link {
  text-decoration: none;
}

.fixed-nav nav {
  position: fixed;
}

#banner {
	height: 50vh;
	background: url('../images/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#banner h2 {
	color: white;
	font-size: 3em;
	margin-bottom: 22px;
}

#banner a {
	background: yellow;
	padding: 5px;
	font-size: 2em;
}

@media screen and (max-width: 1100px) {
  .navbar div {
    display: none;
  }

  .navbar a.icon {
    display: block;
    float: right;
    padding: 20px;
  }

  nav div ul {
    overflow: hidden;
    background: #272727;
  }
}

@media screen and (max-width: 1100px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  nav ul li {
    float: none;
    text-align: left;
    /*width: 100%;
    margin: 0;*/
  }

  nav ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }

  .navbar.responsive .social-media {
    display: none;
  }

  .navbar.responsive div {
    display: flex;
    height: auto;
    padding-top: 50px; //
  }
}