body {
  width: 100vw; 
  height: 100vh;
  font-family: 'Lato',sans-serif; 
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 1;
  box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.9);
}

.navbar-logo {
  margin-left: 5vw;
}

.navbar-logo img {
  width: auto;
  height: auto;
  max-width: 150px;
}

.navbar.navbar-colorful.navbar-transparent {
  background-color : rgba(0,0,0,.6);
}

.navbar.navbar-colorful{
  background-color: #272727;
}

.navbar a {
  color: #FFFFFF;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse.responsive {
  position: absolute;
  display: block;
  background-color: inherit;
  top: 100%;
  width: 100vw;
  border-top: 1px solid #575757;
}

.navbar-collapse.responsive li {
  display: block;
  padding: 15px;
}

.social-media a {
  display: inline-block;
  padding: 20px 0 20px 20px;
}

.social-media {
  margin-right: 5vw;
}

.hamburguer {
  display: none;
}

a:link {
  text-decoration: none;
}

.banner{
  background: url('../images/banner.jpg') no-repeat center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  font-size: 2.3em;
  color: white;
  margin-bottom: 35px; 
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides-mobile {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 0 5vw 0 5vw;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 42px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
}

.servicos-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 60px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
  color: #8CCCBD;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dots {
	padding-top: 45px;
	text-align: center;
}

.active, .dot:hover {
  background-color: #0C874B;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}

@-webkit-keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

.sobre-nos{
  height: auto;
  width:auto;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
}

.fontCabecalho{
  color:#272727;
  font-size:2em;
  margin-right: 4vw;
}
.sobre-nosFonts{
  color:#8CCCBD;
  font-size:3.5vw;
  margin-top:1vw;
}
.mvvfonts {
  color:#272727;
  font-size: 2vw;
  text-align:center;
  margin-top:1vw;
}

.sobre-nosplanta{
  display: flex;
  align-self: center;
}

.folha{
  height:3em;
  width:3em;
  padding-right: 10px;
}

.mvvimages{
  height:8em;
  width:8em;
}

.mvv{
  display:flex;
  justify-content: space-around;
}

.equipeImg{
  height:31vh;
  width:29vw;
  margin-top:10vw;
  margin-left:13vw;
  padding-bottom:3vw;
}
.sessaoFoto{
  display: flex;
}

.umafonte{
  text-align:left;
  color:#272727;
  font-size: 2vw;
  margin-top: 2vw;
}

.missao{
  margin-top:5vw;
  text-align:center;
}
.valores{
  margin-top:5vw;
  text-align:center;
}
.visao{
  margin-top:5vw;
  text-align:center;
  margin-left:8vw;
}
.inovagroInfo{
  margin-top: 10vw;
  margin-left: 5vw;
}

#eyesize{
  font-size: 8em;
}
@media screen and (max-width:768px) {
  .banner div {
    height: 70%;
  }
}

#contact-button {
  color: white;
  background: #8CCCBD;
  border-radius: 3px;
  padding: 8px 12px;
}

.sobre-nosFonts{
  color:#8CCCBD;
}

footer {
  width: auto;
  height: 350px;
  /*background-color: #F2F2F2;*/
  color: #575757;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5vw 30px 5vw;
}

.footer-logo img {
  width: auto;
  height: auto;
  max-width: 320px;
}

.col1, .col2, .col3 {
  display: flex;
  width: 100%;
}

.contact ul {
  float: left;
}

.contact li {
  display: block;
}

.contact i {
  font-size: 1.2em;
}

.contact a {
  color: #575757;
}

.contact span, .map span {
  margin-left: 1vw;
}

.map i {
   font-size: 1.2em;
   margin-bottom: 3.5vh;
   padding: 0 0 0 5px;
}

.address-info {
  margin-bottom: 15px;
}

.copyright {
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 30px 5vw 30px 5vw;
}

.copyright p {
  margin-top: 3.5vh;
}

.servicos{
  width:100vw;
}

.servicos-planta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.bloco{
  width:250px;
  height:440px;
  border:1px solid gray;
  text-align:center;
  border-radius:8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5vh;
}

.fotoServicos{
  width: auto;
  height: auto;
  max-height: 160px;
}

.fontServicos{
  font-weight: 600;
  font-size: 18px;
  color: #575757;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.fontServicosMenor{
  color: #A8A8A8;
  font-size: 16px;
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonServicos{
  border: 1px solid white;
  border-radius: 4px;
  background-color:#0EbE68;
  height: 8%;
  width: 45%;
  margin-bottom: 10px;
  align-self:center;
}

.contract{
  font-weight: 600;
  color:white;
  font-size: 18px;
}

@media screen and (max-width: 984px) {
  #servicos3 {
    display: none;
  }
}

@media screen and (min-width: 984px) {
  #servicos1 {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .hamburguer {
    display: block;
    float: right;
    margin: 5vw;
  }

  .navbar-collapse {
    display: none;
  }

  .social-media {
    display: none;
  }

  .footer-content {
    flex-direction: column;
  }
  .col1, .col2, .col3 {
    width: 100%;
  }
  .footer-logo {
    margin: 15px auto 0;
  }
  .contact ul li {
    padding-left: 0;
  }
  .map {
    width: 100%;
  }
  
  .map .fa-map-marker {
    margin-left: -6px;
  }
  
  #idMap {
    width: 100%;
  }
  
  .address-info {
    margin-top: 15px;
  }
}  

}

@media screen and (max-width:1120px){
  .folha{
    height:3.5em;
    width:3.0em;
  }
  #eyesize{
  font-size: 7em;
}

.mvvimages{
  height:7em;
  width:7em;
}

}

@media screen and (max-width:920px){
  .folha{
    height:3.0em;
    width:2.5em;
  }
}

@media screen and (max-width:880px){
  .folha{
    height:2.2em;
    width:1.8em;
  }

  #eyesize{
  font-size: 5em;
}

.mvvimages{
  height:5em;
  width:5em;
}
}

@media screen and (max-width:600px){
  .folha{
    height:1.9em;
    width:1.6em;
  }
  #eyesize{
  font-size: 3em;
}

.mvvimages{
  height:3em;
  width:3em;
}
}

@media screen and (max-width:580px){
  .folha{
    height:1.6em;
    width:1.2em;
  }

  #eyesize{
  font-size: 2em;
}

.mvvimages{
  height:2em;
  width:2em;
}
}

@media screen and (max-width:400px){
  .folha{
    height:1.2em;
    width:0.8em;
  }
}

@media screen and (max-width: 414px){ /*mobile resolution*/
    .mvv{
    flex-direction: column;
    }
    .missao{
    margin-top:5vw;
    text-align:center;
    }
  .valores{
    margin-top:5vw;
    text-align:center;
    }
  .visao{
    margin-left:0vw;
    }
  .inovagroInfo{
  margin-top: 4vw;
  margin-left: 0vw;
  margin-bottom: 4vw;
}
    .equipeImg{
    height:33vh;
    width:100vw;
    margin-top:4vw;
    margin-left:0vw;
    padding-bottom:0vw;
  }
  .sessaoFoto{
    display: flex;
    flex-direction: column-reverse;
  }
  .umafonte{
    text-align:center;
  }
  .sobre-nosFonts{
    text-align:center;
  }
} 
