body{
  /*display: flex;*/
  width: auto; 
  height: 4440px;
  font-family: 'Lato',sans-serif;
  /*background-size:cover;*/
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1030;
  background-color: #575757; 
  transition: all 150ms ease 0s;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar a {
  display: block;
  float: right;
  color: #FFFFFF;
  text-align: right;
  font-size: 22px;
  font-weight: 500;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-collapse ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.social-media a {
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
}

.navbar .icon {
  display: none;
}

a:link {
  text-decoration: none;
}

.fixed-nav nav {
  position: fixed;
}

.banner{
  background: url('../images/banner.jpg') no-repeat center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  font-size: 2.3em;
  color: white;
  margin-bottom: 35px; 
  text-align: center;
}

@media screen and (max-width:768px) {
  .banner div {
    height: 70%;
  }
}

#contact-button {
  color: white;
  background: #8CCCBD;
  border-radius: 3px;
  padding: 8px 12px;
  box-shadow: inset 0 2px 5px;
}

.sobre-nos{
  height: 1420px;
  background-color: #F2F2F2;
  display: flex;
}

.sobre-nosFonts{
  color:#8CCCBD;
}

@media screen and (max-width: 1100px) {
  .navbar div {
    display: none;
  }

  .navbar a.icon {
    display: block;
    float: right;
    padding: 20px;
  }

  nav div ul {
    overflow: hidden;
    background: #272727;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  nav ul li {
    float: none;
    text-align: left;
    /*width: 100%;
    margin: 0;*/
  }

  nav ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }

  .navbar.responsive .social-media {
    display: none;
  }

  .navbar.responsive div {
    display: flex;
    height: auto;
    padding-top: 50px;
  }
}